body{
    background-image: url(https://a-static.mlcdn.com.br/800x560/papel-de-parede-adesivo-notas-musicais-musica-fundo-bege-seller-mix/mixshow/7306662038/3fdcce5b67daf4497a10b3987334ca10.jpg);
}
h1{
text-align: center;
}
.imgs{
    margin-left: 430px;
    margin-top: 30px;
}
.imgs2{
    margin-left: 680px;
    margin-top:-291px;

}
.imgs3{
    margin-left: 430px;
    margin-top: 12px;
}
.imgs4{
    margin-left: 680px;
    margin-top:-291px;
}