body{
    background-image: url(https://a-static.mlcdn.com.br/800x560/papel-de-parede-adesivo-notas-musicais-musica-fundo-bege-seller-mix/mixshow/7306662038/3fdcce5b67daf4497a10b3987334ca10.jpg);
}
h1{
    text-align: center;
    }
    .videos{
        text-align: center;
        justify-content: center;
    }
   .imgs{
    text-align: center;
    justify-content: center;
}